@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }

}

.bg-green-700 {
  background-color: #15803d;
}

.hover\:bg-green-900:hover {
  background-color: #14532d;
}

.bg-red-700 {
  background-color: #b91c1c;
}

.hover\:bg-red-900:hover {
  background-color: #7f1d1d;
}

.shadow-lg {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.transition-colors {
  transition-property: background-color, border-color, color, fill, stroke;
}

.duration-300 {
  transition-duration: 300ms;
}

.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}